<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
<style>
/*    @font-face {
        font-family: "Computer Modern";
        src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
    }*/
    div.cell{
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
    h1 {
        font-family: 'Roboto Condensed', sans-serif;
    }
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500 !important;
        font-size: 1.5em !important;
    }
    h3{
		font-family: 'Roboto', sans-serif;
        margin-top:12px;
        margin-bottom: 3px;
       }
	h4{
		font-family: 'Roboto', sans-serif;
       }
    h5 {
        font-family: 'Roboto Condensed', sans-serif;
    }	   
    div.text_cell_render{
        font-family: 'Roboto',Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
        line-height: 135%;
        font-size: 110%;
        width:100%;
    }
/*    .CodeMirror{
            font-family: "Source Code Pro";
			font-size: 100%;
    }*/
/*    .prompt{
        display: None;
    }*/
    .text_cell_render h1 {
        font-weight: 200;
        font-size: 50pt;
		line-height: 100%;
        color:#386940;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        display: block;
    }	
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 16pt;
        color: #386940;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }
    
    .warning{
        color: rgb( 240, 20, 20 )
        }
</style>
<script>
    MathJax.Hub.Config({
                TeX: {
                    extensions: ["AMSmath.js"],
                    equationNumbers: { autoNumber: "AMS" }
                },
                tex2jax: {
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
                },
                displayAlign: 'center', // Change this to 'center' to center equations.
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 4}}
                }
        });
</script>